@use "bulma/sass/utilities/all.sass" as defaults;

$family-primary: "Whyte";
$family-secondary: "Whyte Inktrap";

$primary: #FFA3A5;
$primary-pink: #FF69EB;
$primary-yellow: #FFDC5E;
$secondary: #707ee9;

$text-light: white;
$text-dim: rgba(255, 255, 255, 0.8);

$radius: 10px;

// navbar
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;