@font-face {
    font-family: "Whyte";
    src: url("/fonts/ABC\ Whyte/ABCWhyte-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Whyte";
    src: url("/fonts/ABC\ Whyte/ABCWhyte-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "Whyte";
    src: url("/fonts/ABC\ Whyte/ABCWhyte-Italic.woff2") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Whyte Inktrap";
    src: url("/fonts/ABC\ Whyte\ Inktrap/ABCWhyteInktrap-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Whyte Inktrap";
    src: url("/fonts/ABC\ Whyte\ Inktrap/ABCWhyteInktrap-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "Whyte Inktrap";
    src: url("/fonts/ABC\ Whyte\ Inktrap/ABCWhyteInktrap-Italic.woff2") format("woff2");
    font-style: italic;
}